.profile-pic {
    width: 210px;
    background-color: #fff;
    margin: 5px auto 10px;
    border: 1px solid #999;
    border-radius: 4px;  
    position: relative;
}

.profile-pic > img {
    position: absolute;
    max-width: 100%;
}

ons-progress-circular {
    position: absolute;
    top: 47%;
    left: 47%;
}

p {
    margin: 5px 10px 5px 10px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 5px 10px 5px 10px;
}

.welcome-pic {
    width: 96%;
    background-color: #fff;
    margin: 5px auto 10px;
    border: 1px solid #999;
    border-radius: 4px;  
    position: relative;
}

.welcome-pic > img {
    position: absolute;
    max-width: 100%;
}

#school-welcome {
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
}

/* profile pic stuff */

#school-image {
    border: 1px solid #999;
    border-radius:25px;
    width: 50px;
    opacity: 1;
    display: inline;
    margin-top: 60px;
    margin-left: 5px;
    z-index: 3;
}

#fbla-logo {
    opacity: 0.5;
    z-index: 2;
}

#school-name {
    margin-top: 110px;
    text-align: center;
}
